input/music/schemamatching/targetschema/target_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="releases">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="release" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:string"/>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="artist" type="xs:string"/>
							<xs:element name="release-date" type="xs:string"/>
							<xs:element name="release-country" type="xs:string"/>
							<xs:element name="duration" type="xs:string"/>
							<xs:element name="label" type="xs:string"/>
							<xs:element name="genre" type="xs:string"/>
							<xs:element name="tracks">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="track" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string"/>
													<xs:element name="duration" type="xs:string"/>
													<xs:element name="position" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
