input/companies/schemamatching/targetschema/target_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="companies">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="company" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:string"/>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="website" type="xs:anyURI"/>
							<xs:element name="founded" type="xs:date"/>
							<xs:element name="country" type="xs:string"/>
							<xs:element name="city" type="xs:string"/>
							<xs:element name="industry" type="xs:string"/>
							<xs:element name="assets" type="xs:string"/>
							<xs:element name="revenue" type="xs:string"/>
							<xs:element name="keypeople">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name" maxOccurs="unbounded" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
